address {
  font-style: normal;
  width: 240px;
}

h1 {
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
}

.content-section {
  box-sizing: border-box;
  max-width: 1440px;
  min-height: 97px;
  margin: auto;
}

.header {
  box-sizing: border-box;
  padding: 92px 49px 92px 51px;
}

.header__menu {
  box-sizing: border-box;
  width: 100%;
  height: 109px;
  display: grid;
  grid-template-columns: repeat(6, 1fr) 10px repeat(3, 1fr) 20px 148px repeat(5, 1fr) 40px 240px;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

.nav {
  grid-column: 1/8;
  grid-row: 2/3;
}

.header__links-list {
  display: flex;
  justify-content: left;
  column-gap: 32px;
}

.header__links-list-item {
  list-style: circle;
  height: 23px; 
  border-bottom: #000 solid 1px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  border-bottom: none;
}

.header__link {
  text-transform: lowercase;
  text-decoration: none;
} 

.header__link_active {
  text-transform: lowercase;
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
  display: inline;
  grid-column: 12/13;
  grid-row: 1/-1;
  align-self: start;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.address a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__address {
  grid-column: 19;
  grid-row: 1/-1;
}

.cover {
  background-image: url(../images/cover.png);
  width: 1440px;
  height: 763.939px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 1440px 763.939px;
  background-position: center;
  background-color: #fff;
}

.overlay {
  background-color: rgb(0 0 0 / 0.6);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.cover__title {
  position: absolute;
  top: 0; 
  z-index: 2;
  width: 100%;
  padding: 165px 50px 237px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.cover__title-span {
  color: #FFF;
  letter-spacing: 30px;
  display: block;
}

.aligned-text {
  width: 100%; 
  text-align: left;
  line-height: 115px;
}

.aligned-text_center {
  width: 100%; 
  text-align: center;
  line-height: 100px;
}

.aligned-text_right {
  width: 100%; 
  text-align: right;
  line-height: 100px;
}

.letter-spacing-60 {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: absolute;
  right: 50px;
  bottom: 50px;
  z-index: 2;
  width: 968px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text-space {
  word-spacing: 17.5px;
}

.cover_description-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
}  

.bet-button {
  background-color: transparent;
  width: 257px;
  height: 52px;
  border-color: #fff;
}

.lots {
  box-sizing: border-box;
  margin: 180px 50px 181px 50px;  
}

.lots__heading {
  padding-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: start; 
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  position: relative;
  z-index: 2;
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000;
  box-sizing: border-box;
  width: 430px;
  height: 450px;
  color: #fff;
}

.card-content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 50px 40px;
  height: 100%;
  width: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.png);
}

.card_type_book {
  background-image: url(../images/card-lot-02.png);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.png);
}

.card__title {
  text-decoration: underline;
  font-size: 22px;
}

.card__text {
  font-size: 20px;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 27px;
  margin-top: 30px;
}

.lots__look-more-link a {
  border-bottom: #000 solid 1px;
}

.about {
  display: grid;
  grid-template-rows: repeat(5, 1fr) 22px repeat(13, 1fr) 19px;
  grid-template-columns: 32% 66%; 
  column-gap: 25px;
  margin: 0 50px 180px 50px;
  min-height: 487px;
}

.about__column {
  grid-column: 2/-1;
  grid-row: 5/-1;
}

.about__logo {
  width: 240px;
  height: 240px;
  grid-column: 1/2;
  grid-row: 1/11;
  margin: 0 auto 0 auto;
  background-color: #000;
  border-radius: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  grid-column: 2/-1;
  grid-row: 5/9;
}

.about__text {
  font-size: 20px;
}

.about__text-first {
  grid-column: 2/-1;
  grid-row: 11/16;
}

.about__text-second {
  grid-column: 2/-1;
  grid-row: 16/-1;
}

.footer {
  margin: 0 50px 90px 50px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  box-sizing: border-box;
}

.footer__menu {
  display: flex;
  justify-content: center;
  align-items: start;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: #000 solid 1px;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 240px;
}
