address {
  font-style: normal;
  font-size: 18px;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-section {
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
}

.header {
  box-sizing: border-box;
  padding: 92px 50px 158px 51px;
}

.header__menu {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content 1fr; 
  align-items: center;
}

.nav {
  justify-self: start;
}

.header__links-list {
  display: flex;
  justify-content: left;
  column-gap: 30px;
}

.header__links-list-item {
  list-style: circle;
  border-bottom: #000 solid 1px;
  font-size: 18px;
  margin-right: 2px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  border-bottom: none;
}

.header__link {
  text-transform: lowercase;
  text-decoration: none;
} 

.header__logo {
  width: 148px;
  height: 105px;
  align-self: start;
}

.header__logo a {
  display: block;
}

.header__address {
  justify-self: end;
  align-self: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.address p {
  padding-bottom: 0;
  padding-top: 0;
  line-height: 136%;
}

.cover {
  background-image: url(../images/cover.png);
  max-width: 1440px;
  min-height: 764px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
}

.overlay {
  background-color: rgb(0 0 0 / 0.6);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 165px 50px 135px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
}

.cover__title-span {
  color: #FFF;
  letter-spacing: 30px;
  display: block;
}

.aligned-text {
  width: 100%; 
}

.aligned-text_left {
  text-align: left;
  line-height: 115px;
}

.aligned-text_center {
  text-align: center;
  line-height: 100px;
}

.aligned-text_right {
  text-align: right;
  line-height: 100px;
}

.letter-spacing {
  letter-spacing: 30px;
}

.letter-spacing-space {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  justify-content: end;
  gap: 78px;
  align-items: center;
}

.cover__description-text-space {
  word-spacing: 18px;
}

.cover_description-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 100;
}  

.bet-button {
  background-color: transparent;
  width: 257px;
  height: 52px;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
}

.lots {
  box-sizing: border-box;
  margin: 151px 50px 158px 50px;  
}

.lots__heading {
  padding-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-between; 
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  position: relative;
  z-index: 2;
  flex-grow: 1;
  list-style-type: none;
  width: 430px;
  min-height: 450px;
  margin: 0;
  padding: 0;
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000;
  box-sizing: border-box;
  color: #fff;
  height: 100%;
  flex-grow: 1;
}

.card-content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 50px 40px;
  height: 100%;
  width: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.png);
}

.card_type_book {
  background-image: url(../images/card-lot-02.png);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.png);
}

.card__title {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 22px;
  justify-self: flex-start;
}

.card__text {
  font-size: 20px;
  justify-self: flex-end;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 40px;
  padding-top: 30px;
  box-sizing: border-box;
}

.lots__look-more-link a {
  border-bottom: #000 solid 1px;
}

.about {
  display: grid;
  grid-template-columns: 32% 66%; 
  column-gap: 25px;
  margin: 0 50px 161px 51px;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin: 0 auto 0 auto;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  padding: 101px 0 101px 1px;
}

.about__text {
  font-size: 20px;
  line-height: 23px;
  padding-left: 1px;
}

.footer {
  margin: 0 49px 90px 50px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  box-sizing: border-box;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1px;
}

.footer__menu-list-item {
  margin-bottom: 0;
  line-height: 21px;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: #000 solid 1px;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__address {
  margin-top: 1px;
}